@import "style";
* {
    font-family:$paragraphFont, sans-serif;
}

body {
    main form {
        display: flex;
        flex-direction:column;
        align-items: center;
      }
}

main form label {
    text-align: left;
    width:20rem;
    font-family: $titleFont;
}

form input {
    width: 20rem;
    height: 2rem;
    margin: 1rem 0;
  }

form a {
  
    color:$primaryColor;
    margin-bottom:1rem;
    width:20rem;
    text-align:right;
    font-weight:300;
}


  body {
    margin: 0 auto;
  }
  
   h1 {
    margin-top: 10rem;
    margin-bottom: 4rem;
    text-align: center;
    font-family: $titleFont;
    font-size:2rem;
  }

  .clearfix {
      width:20rem;
      text-align: right;
      margin-bottom:2rem;
      .Signupbtn {
        background-color:$whiteSpace;
        color:$ctaColor;
        font-weight: 400;
        border: solid 2px $ctaColor;
        text-decoration:none;
        border-radius: 1vw;
        padding: 0.5vw 1vw;
        font-size: 3.4vw;
        cursor:pointer;
        box-shadow:none;
      }
      .Loginbtn{
        margin-left:1rem;
    background-color:$ctaColor;
    color:$whiteSpace;
    text-decoration:none;
    border:none;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    font-size: 3.4vw;
    cursor:pointer;
      }
  }


  //Desktop
  @media only screen and (min-width: map-get($breakPoints, lg)) {
    .clearfix .Signupbtn {
      font-size:1.4vw;
  }

  .clearfix .Loginbtn{
      font-size:1.4vw;
  }
  }