@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap");
/*Break points*/
* {
  margin: 0;
  padding: 0;
}

/*HEADER        HEADER      HEADER      HEADER      HEADER      HEADER*/
header {
  width: 100%;
  height: 6vw;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  background-color: #1f5473;
  color: white;
}
header div {
  height: 5vw;
  width: 5vw;
  padding: 0.75vw;
}
header nav {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav a {
  text-decoration: none;
  color: white;
}

/*FOOTER        FOOTER      FOOTER        FOOTER        FOOTER        FOOTER        FOOTER        FOOTER*/
footer {
  background-color: #1f5473;
  width: 100%;
  height: 13.5vw;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: white;
  font-family: "Roboto", sans-serif;
}
footer section img {
  width: 3vw;
}
footer div {
  width: 100%;
  grid-column-start: 1;
  grid-column: span 2/span 2;
  margin-top: 2vw;
  margin-left: 2vw;
}
footer div section {
  display: flex;
  justify-content: space-between;
}
footer .copyRight {
  position: absolute;
  bottom: 1vw;
  left: 47.5vw;
}
footer > section {
  grid-column-start: 6;
}
footer > section a {
  text-decoration: none;
  color: white;
}
footer :nth-child(4) {
  grid-column-start: 7;
}
footer :last-child {
  grid-column-start: 8;
}
footer li {
  list-style-type: none;
  padding-bottom: 0.25vw;
}
footer h2 {
  font-family: "Oswald", sans-serif;
  padding-bottom: 0.5vw;
}
footer section {
  margin-top: 1vw;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, sans-serif;
}

main {
  padding: 2rem;
}

main h1 {
  margin-top: 5rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 1rem;
}

.Details p {
  font-family: "Roboto", sans-serif;
  padding: 0.5rem 0 0.5rem 1rem;
  border: 1px solid;
  border-radius: 1vw;
  margin: 0.5rem 0;
  width: 85vw;
}

article.uploadWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

button.upload {
  background-color: white;
  border-radius: 1vw;
  cursor: pointer;
  border: solid 1px #1f5473;
  padding: 0.5rem 0.5rem;
}

div.password button {
  margin: 0.5rem 0rem;
  background-color: white;
  border: 1px solid #6e1916;
  border-radius: 1vw;
  color: #6e1916;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

div.updateBtn {
  text-align: right;
}
div.updateBtn button.cancel-btn {
  margin: 0.5rem 0rem;
  background-color: white;
  border: 1px solid #6e1916;
  border-radius: 1vw;
  color: #6e1916;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  font-size: 3.4vw;
}
div.updateBtn button.update-btn {
  margin: 0.5rem 0rem;
  background-color: #6e1916;
  border: 1px solid #6e1916;
  border-radius: 1vw;
  color: white;
  cursor: pointer;
  padding: 0.5rem 0.5rem;
  font-size: 3.4vw;
}

div.deleteWrapper {
  display: flex;
  justify-content: center;
}
div.deleteWrapper button.delete-btn {
  text-align: center;
  margin: 1rem 0;
  background-color: #6e1916;
  color: white;
  border-radius: 1vw;
  padding: 0.5rem 0.5rem;
  font-size: 3.4vw;
  border: none;
  cursor: pointer;
}

section.yourRecipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
section.yourRecipes h2 {
  font-size: 1.2rem;
  margin-top: 2rem;
  text-align: center;
}
section.yourRecipes img {
  text-align: center;
  width: 100%;
}
section.yourRecipes ul.container {
  margin-top: 2rem;
  list-style-type: none;
  border: 1px solid #6e1916;
}
section.yourRecipes h3 {
  margin: 1rem 0rem;
}

div.recipeDetails {
  text-align: center;
}
div.recipeDetails div.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

ul.container div.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
ul.container div.buttonContainer button {
  margin-top: 1rem;
  width: 50%;
  background-color: white;
  border: 1px solid #6e1916;
  color: #6e1916;
  cursor: pointer;
  padding: 1rem 1rem;
  font-size: 3.4vw;
}

/*# sourceMappingURL=profile.css.map */
