@import "style";

* {
    box-sizing: border-box;
    font-family:$paragraphFont, sans-serif;
}
main {
    padding:2rem;
}
main h1 {
    
        margin-top: 5rem;
        margin-bottom: 4rem;
        text-align: center;
        font-size:2rem; 
        font-family:$titleFont;
      
}
h2 {
    font-size:1rem;
}
.Details p {
    font-family:$paragraphFont;
    padding:.5rem 0 .5rem 1rem;
    border: 1px solid;
    border-radius: 1vw;
    margin:1rem 0;
    width:85vw;
}

div.editDetails{
    display:flex;
    justify-content: space-between;
    img {
        width:1rem;
        height:1rem;
    }
        
  
}
article.uploadWrapper {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom:2rem;
img {
    margin:1rem 0;
    text-align: center;
    width:2rem;
    height:2rem;
}
}

button.upload {
    font-size:3.4vw;
    display:flex;
    align-items: center;
    background-color:$whiteSpace;
    border-radius: 1vw;
    cursor:pointer;
    border:solid 1px $primaryColor;
    padding:.25rem .5rem;
    img {
        margin:0 .5rem;
    }

}

div.password {
    button{
        margin:.5rem 0rem;
        background-color:$whiteSpace;
        border: 1px solid $ctaColor;
        border-radius:1vw;
        color:$ctaColor;
        cursor:pointer;
        padding:.5rem .5rem;
    }
}

div.btnContainer{
    text-align:right;
    button.cancel-btn {
        margin:.5rem 0rem;
        background-color:$whiteSpace;
        border: 1px solid $ctaColor;
        border-radius:1vw;
        color:$ctaColor;
        cursor:pointer;
        padding:.5rem .5rem;
        font-size: 3.4vw;
    }
    button.update-btn{
        margin:.5rem 0rem;
        background-color:$ctaColor;
        border: 1px solid $ctaColor;
        border-radius:1vw;
        color:$whiteSpace;
        cursor:pointer;
        padding:.5rem .5rem;
        font-size: 3.4vw;
    }
}

div.deleteWrapper {
    display:flex;
    justify-content:center;

    button.delete-btn{
        text-align: center;
        margin:1rem 0;
        background-color: $secondaryColor;
        color:$whiteSpace;
        border-radius:1vw;
        padding:.5rem .5rem;
        font-size: 3.4vw;
        border:none;
        cursor:pointer;
    
    }
}

section.yourRecipes{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:2rem;

    h2 {
        font-size:1.2rem;
        margin-top:2rem;
        text-align: center;
    }
    
    img {
        text-align: center;
        width:100%;
    }
    ul.container {
        margin-top:2rem;
        list-style-type:none;
        border: 1px solid $ctaColor;
    }
    h3{
        margin:1rem 0rem;
    }
}

div.recipeDetails{
    text-align:left;
    padding-left:2rem;
    div.buttonContainer{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-top:2rem;
    }
}

ul.descripDetails {
    list-style-type:none;
    li:nth-child(3){
        color:$secondaryColor;
    }
}

ul.container div.buttonContainer {
    display:flex;
    flex-direction:row;
    justify-content:center;

button {
        margin-top:1rem;
        width:50%;
        background-color:$whiteSpace;
        border: 1px solid $ctaColor;
        border-style:solid none none none;
        color:$ctaColor;
        cursor:pointer;
        padding:1rem 1rem;
        font-size: 3.4vw;
        }
        button:nth-child(1) {
            border-style:solid solid none none;
        }
        
}

//Tablet

@media only screen and (min-width: map-get($breakPoints, md)) {
    .Details p{
        width:90vw;
    }
    div.btnContainer {
        button.cancel-btn, button.update-btn {
            font-size: 3.4vw;
        }
      
    }
    div.deleteWrapper{
        button.delete-btn {
            font-size:3.4vw;
            margin-bottom:4rem;
        }
    }
    
    section.yourRecipes {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        ul.container {
            margin:1rem 1.5rem;
        }
        ul.container:nth-child(3){
            display:flex;
            flex-wrap:wrap;
        }
    }
}


//Desktop

@media only screen and (min-width: map-get($breakPoints, lg)) {
    article.Details{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .Details p {
        width:20rem;
    }
    article div.btnContainer{
        text-align: center;
    }

    article div.btnContainer button.cancel-btn, article div.btnContainer button.update-btn{
        position:relative;
        left:5rem;
        font-size:1.4vw;
    }

    div.deleteWrapper button.delete-btn{
        font-size:1.4vw;
    }
    ul.container div.buttonContainer button{
        font-size:1.4vw;
    }
    article.recipesHeadline h2{
        font-size:2vw;
        text-align:center;
        margin-bottom:2rem;
    }
button.upload {
    font-size:1.4vw;
}
ul.container {
    width:20rem;
}
}



