@import "style";

main {
    max-width: 350px;
    margin: 0 auto;
}

.hero {
    height: 40vw;
    border: 0.2rem solid $secondaryColor;
}

.recipeButtons {
    width: 100%;

}

.steps {
    width: 100%;
    margin-top: 2vw;
    
}

.list {
    margin-right: 2vw;
    border: solid 0.2rem $secondaryColor;
    border-radius: 1rem;
    padding: 0.5rem;
}

.info ul li {
    display: block;
}

.comment {
    display: grid;
    grid-template-areas: "img div";
}


// @media only screen and (min-width: map-get($breakPoints, lg)) {

// }

@media only screen and (min-width: 1000px) {
    main {
        max-width: 600px;
        margin: 0 auto;
    }

    .list {
        width: 40%;
        float: left;
    }
}