@import "style";

// MAIN
main {
    margin-top:4rem;
    font-family: $paragraphFont;
}

h1 {
    font-size: $phoneH1;
}
h2, th {
    font-size: $iphoneH2;
}
h3 {
    font-size: $iphoneH3;
}
p, input, li, td {
    font-size: $iphoneP;
}
label {
    font-size: $iphoneP;
    font-weight:900;
}

section.searchWrapper {
    margin-top:10vw;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

    input {
        margin-top:3rem;
        padding-left:1rem;
        width:80%;
        height:3rem;
        border-radius:1vw;
        border:solid 1px $textColor;
        
    }

    input::placeholder{
        padding-left:1rem;
    }
    img{
        position:absolute;
        top:17vw;
        right:16vw;
        text-align:right;
        width:1rem;
        height:1rem;
    }
}

section.buttonWrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin:2rem 2rem;
    section select {
        background:transparent;
        width:5vw;
        border:none;
    }
}

// Recipes

//change ad placement order
section.recipeWrapper{
    display:flex;
    flex-direction: column;
    
    section.yourRecipe:nth-child(1) {
     order: 2;
    }
    section.yourRecipe:nth-child(2) {
     order: 3;
    }
    section.yourRecipe:nth-child(3) {
     order: 1;
    }
    section.yourRecipe:nth-child(4) {
     order: 4;
    }
}

section.yourRecipes{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:2rem;
    padding:0 2rem;

    h2 {
        margin-top:2rem;
        text-align: center;
    }
    
    img {
        text-align: center;
        width:100%;
    }
    ul.container {
        margin-top:1rem;
        list-style-type:none;
        border: 1px solid $ctaColor;
        border-radius:1vw;
        overflow: hidden;
    }
    h3{
        margin:1rem 0rem;
    }
}

div.recipeDetails{
    text-align:left;
    padding-left:2rem;
    div.buttonContainer{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        margin-top:2rem;
    }
}

ul.descripDetails {
    list-style-type:none;
    li:nth-child(3){
        color:$secondaryColor;
    }
}

ul.container div.buttonContainer {
    display:flex;
    flex-direction:row;
    justify-content:center;

button {
        margin-top:1rem;
        width:50%;
        background-color:$whiteSpace;
        border: 1px solid $ctaColor;
        border-style:solid none none none;
        color:$ctaColor;
        cursor:pointer;
        padding:1rem 1rem;
        font-size: 3.4vw;
        }
        button:nth-child(1) {
            border-style:solid solid none none;
        }
        
}

section.advert1{
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top:2rem;
    margin:0 auto;
    margin-bottom:2rem;
    width:80%;
    height:8rem;
    background-color: gray;
    opacity:0.5;
    h2{
        font-size:$iphoneH2;
    }
}

//Tablet

@media only screen and (min-width: map-get($breakPoints, md)) {
    h1 {
        font-size:$ipadH1;
    }
    h2 {
        font-size:$ipadH2;
    }
    h3 {
        font-size:$ipadH3;
    }
    p, input, li, label  {
        font-size: $ipadP;
    }
    section.searchWrapper {
        
        img {
            top:8vw;
            right:16vw;
        }
    }
    section.yourRecipes {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        ul.container{
            margin:1rem;
            width:45%;
        }
    }
}

//Desktop 

@media only screen and (min-width: map-get($breakPoints, xl)) {
    h1 {
        font-size: $pcH1;
    }
    h2, th {
        font-size: $pcH2;
    }
    h3 {
        font-size: $pcH3;
    }
    p, input, li, label  {
        font-size: $pcP;
    }
    section.searchWrapper {
        
        img {
            top: 5vw;
            right:12vw;
        }
    }
   section.recipeWrapper{
       display:flex;
       flex-direction: column;
       
       section.yourRecipes:nth-child(1) {
        order: 4;
       }
       section.yourRecipes:nth-child(2) {
        order: 1;
       }
       section.yourRecipes:nth-child(3) {
        order: 2;
       }
       section.yourRecipes:nth-child(4) {
        order: 3;
       }
   }
    section.yourRecipes{
        display:flex;
        flex-direction: row;
        ul.container{
            margin:1rem;
            width:30%;
            h3{
                font-size:$pcH3;
            }
            div.buttonContainer button{
                font-size:$pcP;
            }
        }
    }
}