@import "style";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

//Mobile

main {
    max-width: 1100px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        font-family:$titleFont;
        
    }
}


 h1 {
    margin-top: 10rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size:2rem;
    font-family:$titleFont;
}

main section img {
    width:2rem;
    text-align:center;
}

form input {
    width:20rem;
    height:2rem;
    margin:1rem 0;
    border:1px solid $primaryColor;
    border-radius: .5vw;
 
}

form input::placeholder{
    padding-left:1rem;
}

.clearfix {
    text-align: right;
}

.clearfix .signupbtn {
    width:6rem;
    height:2rem;
    margin-bottom:2rem;
    margin-left:1rem;
    background-color:$ctaColor;
    color:$whiteSpace;
    text-decoration:none;
    border:none;
    padding: .5vw 1vw;
    border-radius: 1vw;
    font-size: 3.4vw;
    cursor:pointer;
}

.clearfix .cancelbtn {
    margin-bottom:2rem;
    background-color:$whiteSpace;
    color:$ctaColor;
    border: solid 2px $ctaColor;
    text-decoration:none;
    border-radius: 1vw;
    padding: 2vw 5vw;
    font-size: 3.4vw;
    cursor:pointer;
    box-shadow:none;
}

// Upload Image
section.uploader {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

button.upload {
    margin-bottom:1rem;
    font-size:3.4vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:$whiteSpace;
    border-radius: 1vw;
    cursor:pointer;
    border:solid 1px $primaryColor;
    padding:.25rem .5rem;
    img {
        margin:0 .5rem;
    }

}


// Desktop

  @media only screen and (min-width: map-get($breakPoints, lg)) {
        main {
            display:flex;
            flex-direction: row;
        }
        header h1 {
            margin-top:10rem;
            margin-bottom:3rem;
            text-align: center;
        }

        .clearfix .cancelbtn {
            font-size:1.4vw;
            padding: 0.5vw 1vw;
        }

        .clearfix .signupbtn{
            font-size:1.4vw;
            padding: 0.5vw 1vw;

        }
        button.upload{
            margin-right:5rem;
            display:flex;
            justify-content: center;
            align-items: center;
            font-size:1.4vw;
        }
        form {
            padding-bottom:2rem;
        }
}
