@import "style";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');

//Mobile

body {
    max-width: 1100px;
    margin:0 auto;

}


 h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size:2rem;
    font-family:$titleFont;
}


main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        font-family:$titleFont;
        
    }
}

main section img {
    width:2rem;
    text-align:center;
}

form input {
    width:20rem;
    height:2rem;
    margin:1rem 0;
    border:1px solid $primaryColor;
    border-radius: .5vw;
}

.clearfix {
    text-align: right;
}

.clearfix .signupbtn {
    width:6rem;
    height:2rem;
    margin-left:1rem;
    background-color:$primaryColor;
    color:$whiteSpace;
    text-decoration:none;
    border:none;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    font-size: 3.4vw;
    cursor:pointer;
}

.clearfix .cancelbtn {
    background-color:$whiteSpace;
    color:$primaryColor;
    border: solid 2px $primaryColor;
    text-decoration:none;
    border-radius: 1vw;
    padding: 0.5vw 1vw;
    font-size: 3.4vw;
    cursor:pointer;
    box-shadow:none;
}

// Upload Image
.uploader {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
    height:4rem;
}

.custom-file-input::before {
    margin-top: 2rem;
    margin-bottom: 2rem;
    content: 'Upload';
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px $whiteSpace;
    font-weight: 700;
    font-size: 10pt;
    color: black;
}

.custom-file-input:hover::before {
    border-color: black;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input[type='file'] {
    color: transparent;
}

  // Desktop

  @media only screen and (min-width: map-get($breakPoints, lg)) {
        main {
            display:flex;
            flex-direction: row;
        }
        header h1 {
            margin-top:10rem;
            margin-bottom:3rem;
            text-align: center;
        }

        .clearfix .cancelbtn {
            font-size:1.4vw;
        }

        .clearfix .signupbtn{
            font-size:1.4vw;
        }
        .custom-file-input::before {
            margin-top:15rem;
        }
        form {
            padding-bottom:4rem;
        }
}
