@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;500;700&display=swap');



$primaryColor: #1f5473;
$secondaryColor: #f4a234;
$accentsColor: #c26e32;
$ctaColor: #6e1916;
$whiteSpace: white;
$titleFont: 'Oswald', sans-serif;
$paragraphFont: 'Roboto', sans-serif;

// Phone
$phoneH1: 8vw;
$iphoneH2: 6vw;
$iphoneP: 3.8vw;

// iPad
$ipadH1: 4vw;
$ipadH2: 3.4vw;
$ipadP: 2.4vw;

// PC
$pcH1: 3.6vw;
$pcH2: 3vw;
$pcP: 1.8vw;


/*Break points*/

$breakPoints: (
    sm:320px,
    md:480px,
    lg:768px,
    xl:1032px
);



* {
    margin: 0;
    padding: 0;
}

/*HEADER        HEADER      HEADER      HEADER      HEADER      HEADER*/

header {
    width: 100%;
    height: 6vw;
    display: flex;
    justify-content: space-between;
    font-family: $paragraphFont;
    background-color: rgba($color: $primaryColor, $alpha: 0.98);
    color: $whiteSpace;
    position: fixed;
    top: 0;
    z-index: 10;

    div {
        height: 6vw;
        width: 6vw;

        img {
            width: auto;
            height: 100%;
        }
    }

    nav {
        width: 30vw;
        display: flex;
        align-items: center;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: $secondaryColor;

        }

    }

}

/*BODY      BODY        BODY        BODY        BODY        BODY        BODY        BODY        BODY*/
body {
    margin-top: 6vw;
}

/*FOOTER        FOOTER      FOOTER        FOOTER        FOOTER        FOOTER        FOOTER        FOOTER*/

footer {
    background-color: $primaryColor;
    width: 100%;
    height: 70vh;
    bottom: 0;
    color: $whiteSpace;
    font-family: $paragraphFont ;
    position: relative;
    overflow: hidden;

    .footerLogo img {
        width: 100%;
        height: auto;
        position: absolute;
        z-index: 1;
        top: -9vw;
    }

    section img {
        width: 10vw;
    }

    div {
        width: 100%;

        section {
            display: flex;
            justify-content: space-around;
            margin-top: 45vw;

            img {
                z-index: 2;
            }
        }
    }

    .copyRight {
        position: absolute;
        bottom: 1vw;
        left: 40.5vw;
    }

    >section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;


        a {
            text-decoration: none;
            color: $whiteSpace;
        }

    }

    :nth-child(4) {
        grid-column-start: 7;
    }

    :last-child {
        grid-column-start: 8;
    }


    li {
        list-style-type: none;
        padding-bottom: 2vw;


    }

    h2 {
        font-family: $titleFont;
        padding-bottom: 0.5vw;
    }

    section {
        margin-top: 5vw;
    }
}

@media only screen and (min-width: map-get($breakPoints, md)) {
    footer {
        height: 35vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .footerLogo img {
            width: 25vw;
            top: 0vw;
        }

        section img {
            width: 5vw;
        }

        div {
            grid-column-start: 1;
            margin-top: 1vw;
            margin-left: 2vw;

            section {
                justify-content: space-between;
                margin-top: 15vw;

                :nth-child(4) {
                    display: block;
                }

            }
        }

        .copyRight {
            left: 47.5vw;
        }

        >section {
            grid-column-start: 3;
            text-align: right;

            :nth-child(4) {
                display: block;
            }
        }

        :nth-child(4) {
            display: none;
        }

        :last-child {
            grid-column-start: 4;

        }

        li {
            padding-bottom: 2.5vw;

        }

        h2 {
            padding-bottom: 0.5vw;
        }

        section {
            margin-top: 1vw;
        }
    }

}

@media only screen and (min-width: map-get($breakPoints, lg)) {
    footer {
        height: 13.5vw;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        .footerLogo img {
            width: 13.5vw;
            top: 0vw;
        }

        section img {
            width: 2.5vw;
        }

        div {
            grid-column-start: 1;
            margin-top: 1vw;
            margin-left: 2vw;

            section {
                justify-content: space-between;
                margin-top: 6vw;
                width: 20vw;

            }
        }

        .copyRight {
            left: 47.5vw;
        }

        >section {
            grid-column-start: 5;
            text-align: right;
            align-items: unset;

        }

        >:nth-child(4) {

            display: block;
            text-align: right;
            grid-column: 6/ span 2;
            width: 80%;
            margin-right: 5vw;

        }

        >:last-child {
            grid-column-start: 8;

        }

        li {
            padding-bottom: 0.5vw;
            width: 100%;

            a {
                width: 100%;
            }

        }

        h2 {
            padding-bottom: 0.5vw;
            width: 100%;
        }

        section {
            margin-top: 1vw;
            margin-right: 1vw;
        }
    }
}